@model VIVEMAS.Models.Platillo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Platillo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Procedimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Procedimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tiempo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tiempo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Porciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Porciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calorias)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calorias)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Platillo_id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
