@model IEnumerable<VIVEMAS.Models.Ejercicio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEjercicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CatDificultad)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiempo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEjercicio.Tipo_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatDificultad.Dificultad_id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ejercicio_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ejercicio_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ejercicio_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
